+b.header
	+e.container.container
		+e.menu.menu__.--nav
			+e.item
				a(href="#shedule") Расписание
			+e.item
				a(href="#speakers") Спикеры
			+e.item
				a(href="#tickets") Билеты
			+e.item
				a(href="#media") СМИ о нас
			+e.item
				a(href="#contacts") Контакты
		+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange-header Купить билет
		+e.lang.menu__.--lang
			+e.item.active
				a(href="http://congresoblockchain.com/ru") RU
			+e.item
				a(href="/") ESP
		+e.hamburger
			span