+b.main
	+e.container.container
		+e.body
			+e.left
				+e.H1.title.title--main Первый международный блокчейн конгресс в Кордове, Аргентина
				+e.text.text__.--main
					h2 Цели мероприятия
					+e.targets
						+e.col
							ul
								li
									span Привлечь
									|  в страну иностранные инвестиции с помощью ICO
								li
									span Обучить
									|  сообщество тонкостям криптовалют и возможностей, которые они дают
						+e.col
							ul
								li
									span Начать диалог
									|  между Латам и международным крипто-сообществом
								li
									span Адаптировать
									|  продвинутые практики цифровой экономики на блокчейне
				+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange-shadow Купить билет
		+e.img--mask
			img(src="/img/mask.jpg")
			include ../../img/mask.svg
		+e.img--standart
			img(src="/img/main.png")
	+e.bg
		include ../../img/back.svg