+b#contacts.footer
	+e.container.container
		+e.contacts
			+e.title.title Contactos
			+e.body
				+e.contact
					p Facebook:
					a(href="https://www.facebook.com/groups/bitcoinblockchain/" target="_blank") Córdoba Bitcoin
				+e.contact
					p Chat en Telegram:
					a(href="https://t.me/cbabtc" target="_blank") Córdoba Bitcoin
				+e.contact
					p E-mail:
					a(href="email:info@cordobabitcoin.com" target="_blank") info@cordobabitcoin.com
				+e.contact
					p Cel./Watsapp:
					a(href="tel:+5493516860968" target="_blank") +54 9 351 686-0968 
					span Andres Salamone
				+e.contact
					p Cel./Watsapp:
					a(href="tel:+5493515302514" target="_blank") +54 9 351 530-2514
					span German Guismondi
			+e.socials
		+e#map.map
	+e.bottom
		p © 2018 Córdoba Bitcoin — Todos los derechos reservados.
