+b#contacts.footer
	+e.container.container
		+e.contacts
			+e.title.title Контакты
			+e.body
				+e.contact
					p Фейсбук:
					a(href="#") Córdoba Bitcoin
				+e.contact
					p Телеграм:
					a(href="#") Córdoba Bitcoin
				+e.contact
					p E-mail:
					a(href="email:asalamone@atlares.com") asalamone@atlares.com
				+e.contact
					p Сот./Ватсапп:
					a(href="tel:+5493516860968") +54 9 351 686-0968 
					span Andres Salamone
			+e.socials
		+e#map.map
	+e.bottom
		p © 2018 Córdoba Bitcoin — Все права защищены
