+b.header
	+e.container.container
		+e.menu.menu__.--nav
			+e.item
				a(href="#") Расписание
			+e.item
				a(href="#") Спикеры
			+e.item
				a(href="#") Билеты
			+e.item
				a(href="#") СМИ о нас
			+e.item
				a(href="#") Контакты
		+e.lang.menu__.--lang
			+e.item.active
				a(href="#") RU
			+e.item
				a(href="#") ESP
		+e.hamburger
			span