+b.header
	+e.container.container
		+e.logo
			include ../../img/logo.svg
		+e.menu.menu__.--nav
			+e.item
				a(href="#shedule") Itinerario
			+e.item
				a(href="#speakers") Disertantes
			+e.item
				a(href="#tickets") Precio de entrada
			+e.item
				a(href="#media") Socios informativo
			+e.item
				a(href="#contacts") Contactos
		+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange-header ENTRADAS
		+e.lang.menu__.--lang
			+e.item
				a(href="http://congresoblockchain.com/ru") RU
			+e.item.active
				a(href="/") ESP
		+e.hamburger
			span