+b.header
	+e.container.container
		+e.menu.menu__.--nav
			+e.item
				a(href="#shedule") Расписание
			+e.item
				a(href="#speakers") Спикеры
			+e.item
				a(href="#tickets") Билеты
			+e.item
				a(href="#media") СМИ о нас
			+e.item
				a(href="#contacts") Контакты
		+e.lang.menu__.--lang
			+e.item.active
				a(href="#") RU
			+e.item
				a(href="#") ESP
		+e.hamburger
			span