include bemto/bemto.pug
- set_bemto_settings({ modifier: '--' })
<!DOCTYPE html>
html(lang="ru")
	head
		include head.pug
		block head
	body
		block header
		block content
		include footer.pug
		link(href="/css/main.min.css?v=1", rel="stylesheet")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous",defer)
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js" defer)
		script
			include ../../_js/_map.js
		script(src="/js/core.bundle.js",defer)
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlmSODYuRfe-TyXTLdasH97qhOmC8PRtY&callback=initMap")
		block footer-scripts