+b.main
	+e.container.container
		+e.body
			+e.left
				+e.H1.title.title--main Primer Congreso Internacional Blockchain Argentina — Colombia — Rusia
				+e.text.text__.--main
					h2 Objetivos del evento:
					+e.targets
						+e.col
							ul
								li
									span atraer
									|  inversión extranjera al país a través de ICO
								li
									span enseñar
									|  a la comunidad sobre criptomonedas y oportunidades que ellas dan
						+e.col
							ul
								li
									span abrir el diálogoг
									|  Argentina y comunidad cripto internacional
								li
									span adaptar
									|  las prácticas avanzadas de economía digital basada en blockchain
				+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange-shadow ENTRADAS
		+e.img--mask
			img(src="/img/mask.jpg")
			include ../../img/mask.svg
		+e.img--standart
			img(src="/img/main.png")
	+e.bg
		include ../../img/back.svg