+b.main
	+e.container.container
		+e.body
			+e.left
				+e.H1.title.title--main Первый международный блокчейн конгресс в Кордове, Аргентина
				+e.text.text__.--main
					h2 Цели мероприятия
					+e.targets
						+e.col
							ul
								li
									span Привлечь
									|  в страну иностранные инвестиции с помощью ICO
								li
									span Обучить
									|  сообщество тонкостям криптовалют и возможностей, которые они дают
						+e.col
							ul
								li
									span Начать диалог
									|  между Латинской Америкой и международным крипто-сообществом
								li
									span Адаптировать
									|  продвинутые практики цифровой экономики на блокчейне
				+e.A(href="#").button.button--orange-shadow Купить билет
		+e.img--mask
		+e.img--standart
			img(src="/img/main.png")
	+e.bg
		img(src="/img/back.svg")