+b#media.media
	+e.container.container
		+e.title.title--big Socios informativo
		+e.body
			+e.A(href="https://www.criptonoticias.com/eventos/argentinos-aprenderan-blockchain-emprendedores-talleres-bitcoin-cordoba/#axzz516Oxt2c9" target="_blank").item--noname
				img(src="/img/media/noname.png")
			+e.A(href="http://eldoce.tv/videos/sociedad/bitcoin-se-expande-en-el-mundo-cordoba-mirada-telenoche_58990" target="_blank").item--eldoce
				img(src="/img/media/eldoce.png")
			+e.A(href="https://soundcloud.com/andres-atlares/entrevista-en-radio-nacional-am-750-cordoba-bitcoin" target="_blank").item--radnac
				img(src="/img/media/radnac.png")
			+e.A(href="http://www.perfil.com/cordoba/bitcoin-la-moneda-virtual-suma-adeptos-en-cordoba.phtml" target="_blank").item--perfil
				img(src="/img/media/perfil.png")
			+e.A(href="http://www.lavoz.com.ar/negocios/llega-cordoba-una-de-las-mayores-plataformas-de-blockchain" target="_blank").item--lavoz
				img(src="/img/media/lavoz.png")
			+e.A(href="https://www.youtube.com/watch?v=2GzEMWSL4CA&feature=youtu.be" target="_blank").item--canal10
				img(src="/img/media/canal10.png")