+b#media.media
	+e.container.container
		+e.title.title--big СМИ о нас
		+e.body
			+e.A(href="#").item--noname
				img(src="/img/media/noname.png")
			+e.A(href="#").item--eldoce
				img(src="/img/media/eldoce.png")
			+e.A(href="#").item--radnac
				img(src="/img/media/radnac.png")
			+e.A(href="#").item--perfil
				img(src="/img/media/perfil.png")
			+e.A(href="#").item--lavoz
				img(src="/img/media/lavoz.png")
			+e.A(href="#").item--canal10
				img(src="/img/media/canal10.png")