+b.organizers
	+e.container.container
		+e.title Организаторы
		+e.list
			+e.item.organizer__.--cordoba
				+e.logo
					img(src="/img/org/cordoba.png")
				+e.text.text--org
					h3 Cordoba Bitcoin
					p Ваше независимое криптосообщество 
			+e.item.organizer__.--synergy
				+e.logo
					img(src="/img/org/synergy.png")
				+e.text.text--org
					h3 Synergy Cryptoadvisor 
					p Ваш ориентир в мире криптотрейдинга
			+e.item.organizer__.--noticias
				+e.logo
					img(src="/img/org/noticias.png")
				+e.text.text--org
					h3 Cryptocast
					p Ваш источник информации о криптомире
			+e.item.organizer__.--crypto
				+e.logo
					img(src="/img/org/crypto.png")
				+e.text.text--org
					h3 CryptoMKT
					p Ваша дверь в мир криптовалют