+b.partners
	+e.container.container
		+e.top
			+e.title Партнёры
			+e.nav
				+e.btn--prev
				+e.btn--next
	+e.slider.swiper-container
		.swiper-wrapper
			+e.item.partner__.swiper-slide
				+e.logo
					img(src="/img/partner/tic.png")
				+e.text.text--partner
					h3 Университет Blas Pascal
					span Технологический университет
					p Серия курсов в 2018 году
					ul
						li Blockchain
						li Pilotaje de drones
						li Realidad Virtual
						li Machine Learning
						li Internet de las cosas
						li Experiencia de Usuario
						li Análisis Big Data
			+e.item.partner__.swiper-slide
				+e.logo
					img(src="/img/partner/un.png")
				+e.text.text--partner
					h3 Университет Blas Pascal
					span Технологический университет
					p Серия курсов в 2018 году
					ul
						li Blockchain
						li Pilotaje de drones
						li Realidad Virtual
						li Machine Learning
						li Internet de las cosas
						li Experiencia de Usuario
						li Análisis Big Data
			+e.item.partner__.swiper-slide
				+e.logo
					img(src="/img/partner/municip.png")
				+e.text.text--partner
					h3 Университет Blas Pascal
					span Технологический университет
					p Серия курсов в 2018 году
					ul
						li Blockchain
						li Pilotaje de drones
						li Realidad Virtual
						li Machine Learning
						li Internet de las cosas
						li Experiencia de Usuario
						li Análisis Big Data
			+e.item.partner__.swiper-slide
				+e.logo
					img(src="/img/partner/nacinal.png")
				+e.text.text--partner
					h3 Университет Blas Pascal
					span Технологический университет
					p Серия курсов в 2018 году
					ul
						li Blockchain
						li Pilotaje de drones
						li Realidad Virtual
						li Machine Learning
						li Internet de las cosas
						li Experiencia de Usuario
						li Análisis Big Data
			+e.item.partner__.swiper-slide
				+e.logo
					img(src="/img/partner/kickico.png")
				+e.text.text--partner
					h3 Университет Blas Pascal
					span Технологический университет
					p Серия курсов в 2018 году
					ul
						li Blockchain
						li Pilotaje de drones
						li Realidad Virtual
						li Machine Learning
						li Internet de las cosas
						li Experiencia de Usuario
						li Análisis Big Data
			+e.item.partner__.swiper-slide
				+e.logo
					img(src="/img/partner/nem.png")
				+e.text.text--partner
					h3 Университет Blas Pascal
					span Технологический университет
					p Серия курсов в 2018 году
					ul
						li Blockchain
						li Pilotaje de drones
						li Realidad Virtual
						li Machine Learning
						li Internet de las cosas
						li Experiencia de Usuario
						li Análisis Big Data
			+e.item.partner__.swiper-slide
				+e.logo
					img(src="/img/partner/utn.png")
				+e.text.text--partner
					h3 Университет Blas Pascal
					span Технологический университет
					p Серия курсов в 2018 году
					ul
						li Blockchain
						li Pilotaje de drones
						li Realidad Virtual
						li Machine Learning
						li Internet de las cosas
						li Experiencia de Usuario
						li Análisis Big Data