+b#shedule.shedule
	+e.container.container
		+e.H2.title.title Расписание конгресса
		+e.body.list__.--shedule
			+e.item
				+e.date.text--date
					h4 6 апреля, пятница
					p Национальный Университет, зал Magna 
					p Кордова, Аргентина
				+e.time 11.00 — 12.00 	
				+e.A(href="#").button.button--orange-text Купить билет
			+e.item
				+e.date.text--date
					h4 6 апреля, пятница
					p Национальный Университет, факультет экономических наук
					p Кордова, Аргентина
				+e.time 15.00 — 17.00 	
				+e.A(href="#").button.button--orange-text Купить билет
			+e.item
				+e.date.text--date
					h4 7 апреля, суббота
					p Университет Блез Паскаль
					p Кордова, Аргентина
				+e.time 11.00 — 18.00 	
				+e.A(href="#").button.button--orange-text Купить билет
			+e.item
				+e.date.text--date
					h4 10 апреля, вторник
					p Митап в Espacio Bitcoin
					p Буэнос-Айрес, Аргентина
				+e.time 18.00 — 21.00 	
				+e.A(href="#").button.button--orange-text Купить билет
			+e.item
				+e.date.text--date
					h4 14 апреля, суббота
					p Отель Double Tree by Hilton
					p Богота, Колумбия
				+e.time 11.00 — 18.00 	
				+e.A(href="#").button.button--orange-text Купить билет
		+e.FORM(action="" method="POST").form.form__.--mail
			+e.body
				+e.text.text--form
					h5 Хотите ознакомиться с подробной программой?
					p Мы пришлём вам её на почту
				+e.line
					+e.input.input
						input(placeholder="Введите e-mail" name="email" type="email")
					+e.button.button--arrow-orange
			+e.response.text--response
				p Спасибо, программа придёт на указанный емаил в ближайшее время.
			+e.preloader.preloader__
				+e.spinner
