+b.shedule
	+e.container.container
		+e.H2.title.title Расписание конгресса
		+e.body.list__.--shedule
			+e.item
				+e.date.text--date
					h4 6 апреля, пятница
					p зал Magna, Национальный Университет
					p Кордова, Аргентина
				+e.time 11.00 — 18.00 	
				+e.button.button--orange-text Купить билет
			+e.item
				+e.date.text--date
					h4 7 апреля, суббота
					p зал Magna, Национальный Университет
					p Кордова, Аргентина
				+e.time 11.00 — 18.00 	
				+e.button.button--orange-text Купить билет
			+e.item
				+e.date.text--date
					h4 10 апреля, вторник
					p главный зал Университета Blas Pascal
					p Буэнос-Айрес, Аргентина
				+e.time 11.00 — 18.00 	
				+e.button.button--orange-text Купить билет
			+e.item
				+e.date.text--date
					h4 6 апреля, пятница
					p главный зал Университета Blas Pascal
					p Богота, Колумбия
				+e.time 11.00 — 18.00 	
				+e.button.button--orange-text Купить билет
		+e.FORM.form.form__.--mail
			+e.body
				+e.text.text--form
					h5 Хотите ознакомиться с подробной программой?
					p Мы пришлём вам её на почту
				+e.line
					+e.input.input
						input(placeholder="Введите e-mail")
					+e.button.button--arrow-orange
			+e.response.text--response
				p Письмо с программой уже отправлено к вам.