+b#shedule.shedule
	+e.container.container
		+e.H2.title.title Itinerario del congreso
		+e.body.list__.--shedule
			+e.item
				+e.date.text--date
					h4 6 de abril 2018, viernes
					p Universidad Nacional de Córdoba, Aula Magna 
					p Córdoba, Argentina
				+e.time 11.00 — 12.00 	
				+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange-text ENTRADAS
			+e.item
				+e.date.text--date
					h4 6 de abril 2018, viernes
					p Universidad Nacional de Córdoba, Facultad de Ciencias Económicas
					p Córdoba, Argentina
				+e.time 15.00 — 17.00 	
				+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange-text ENTRADAS
			+e.item
				+e.date.text--date
					h4 7 de abril 2018, viernes
					p Universidad Blas Pascal, evento principal
					p Córdoba, Argentina
				+e.time 11.00 — 18.00 	
				+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange-text ENTRADAS
			+e.item
				+e.date.text--date
					h4 10 de abril 2018, martes
					p Espacio Bitcoin, meetup
					p Buenos Aires, Argentina
				+e.time 18.00 — 21.00 	
				+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange-text ENTRADAS
			+e.item
				+e.date.text--date
					h4 14 de abril 2018, viernes
					p Hotel Double Tree by Hilton, evento principal
					p Bogotá, Colombia
				+e.time 11.00 — 18.00 	
				+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange-text ENTRADAS
		+e.FORM(action="" method="POST").form.form__.--mail
			+e.body
				+e.text.text--form
					h5 Le gustaría recibir horario detallado de todos los dias?
					p Dejenos su correo electrónico y se lo enviamos
				+e.line
					+e.input--esp.input
						input(placeholder="Correo electronico" name="email" type="email")
					+e.button.button--arrow-orange
			+e.response.text--response
				p ¡Gracias por suscribirse! En breve estará recibiendo el programa a su correo.
			+e.preloader.preloader__
				+e.spinner
