+b#speakers.speakers
	+e.container.container
		+e.H2.title.title--white Спикеры конгресса
		+e.body
			+e.item.speaker__
				+e.body
					+e.wrapper
						+e.name
							h3 Владимир Попов
							p Иркутск, Россия
						+e.socials.socials__.--speaker
							+e.A(href="#").item--fb
							+e.A(href="#").item--in
					+e.theme Тема доклада:<br>
						|  Взаимодействие властей и криптосообществ в разных юрисдикциях
					+e.text.text--speaker
						p IT-юрист itSynergis.ru, Участник экспертного совета в ГД; РАКИБ; Блокчейн-ассоциации
					+e.hide.text--speaker
						ul
							li Автор первой книги об ICO...
							li Криптонархист и майнер с 2011 года
							li Статьи с 2012 года
							li Due diligence с 2015 года
							li ICO с 2016 года
							li Блокчейн-курс с 2017 года
					+e.BUTTON(type="button").more.button--blue-text Подробнее
				+e.photo
					img(src="/img/speakers/1.png")
			+e.item.speaker__
				+e.body
					+e.logo
					+e.wrapper
						+e.name
							h3 Александр Петров
							p Москва, Россия
						+e.socials.socials__.--speaker
							+e.A(href="#").item--fb
							+e.A(href="#").item--in
					+e.theme Тема доклада:<br>
						|   Как криптоэкономика поможет преодолеть мировой финансовый кризис
					+e.text.text--speaker
						p Сооснователь и финансовый директор KickICO.com
					+e.hide.text--speaker
						ul
							li Визионер и евангелист блокчейна и криптовалют с 2014 года
							li Эдвайзер и консультант более 50 ICO-стартапов
							li Предприниматель, частный инвестор в онлайн- и оффлайн-бизнес с 1995 года
							li Создал розничную торговую сеть в Санкт-Петербурге в 2003 году
							li Продал ее за 11 миллионов долларов в 2011 году
					+e.BUTTON(type="button").more.button--blue-text Подробнее
				+e.photo
					img(src="/img/speakers/2.png")
			+e.item.speaker__
				+e.body
					+e.wrapper
						+e.name
							h3 Сергей Севанцян
							p Ереван, Армения
						+e.socials.socials__.--speaker
							+e.A(href="#").item--fb
							+e.A(href="#").item--in
					+e.theme Тема доклада:<br>
						|  Будущее блокчейн: децентрализованные экосистемы.
					+e.text.text--speaker
						p Сооснователь IBW (Independent Blockchain World), учредитель MBA (Masters of Blockchain Administration)
					+e.hide.text--speaker
						ul
							li Действующий ICO Project Manager компании из Силиконовой Долины
							li Главный специалист по скорингу компаний выходящих на ICO
							li Аналитик и бизнес-консультант Крипто-фондов, блокчейн-евангелист
							li партнёр Ethereum Moscow
							li Провёл и принимал участие в более чем 80-и крупнейших мероприятиях в России и СНГ только за 2017-й год
							li Идеолог и футуролог новой парадигмы бизнес-взаимоотношений.
					+e.BUTTON(type="button").more.button--blue-text Подробнее
				+e.photo
					img(src="/img/speakers/3.png")
			+e.item.speaker__
				+e.body
					+e.wrapper
						+e.name
							h3 Анна Козловская
							p Санкт-Петербург, Россия
						+e.socials.socials__.--speaker
							+e.A(href="#").item--fb
							+e.A(href="#").item--in
					+e.theme Мастер-класс по оперированию на децентрализованных биржах
					+e.text.text--speaker
						p Эдвайзер децентрализованной биржи deex.exchange
					+e.hide.text--speaker
						ul
							li Председатель клуба выпускников бизнес-школы Сколково с 2015 года
							li CEO, сооснователь агентства диджитал-маркетинга Visitweb с 2009 года
							li Специалист по интернет-маркетингу и медиа-баингу
							li Организатор конференций по теме диджитал — с 2007, криптовалют — с 2010 года
							li Криптоинвестор с 2015 года
							li Основатель клуба женщин- предпринимателей «Женское дело»
					+e.BUTTON(type="button").more.button--blue-text Подробнее
				+e.photo
					img(src="/img/speakers/4.png")
			+e.item.speaker__
				+e.body
					+e.logo
					+e.wrapper
						+e.name
							h3 Евгения Воронцова
							p Калининград, Россия
						+e.socials.socials__.--speaker
							+e.A(href="#").item--fb
							+e.A(href="#").item--in
					+e.theme Тема доклада:<br>
						|  ICO-промоушен на мультирынках
					+e.text.text--speaker
						p Редактор и специалист по контент-маркетингу KickICO.com
					+e.hide.text--speaker
						ul
							li Редактор в финансовых медиа с 201х года
							li Организатор маркетинговых кампаний для ICO
							li Автор обучающих статей об ICO
							li Специалист в определении мошеннических схем
							li Автор словаря терминов криптосообщества
					+e.BUTTON(type="button").more.button--blue-text Подробнее
				+e.photo
					img(src="/img/speakers/5.png")
			+e.item.speaker__
				+e.body
					+e.logo
					+e.wrapper
						+e.name
							h3 Педро Гутиррес
							p Богота, Колумбия
						+e.socials.socials__.--speaker
							+e.A(href="#").item--fb
							+e.A(href="#").item--in
					+e.theme Тема доклада:<br>
						|  Криптотрейдинг в Латинской Америке: возможности и вызовы
					+e.text.text--speaker
						p Серийный предприниматель, менеджер интернет-проектов, трейдер
					+e.hide.text--speaker
						ul
							li Менеджер DEREMATE.COM  с 2001 года
							li Генеральный менеджер  AUNCLIC Y ANAIS_DIGITAL с 2003 года
							li Основатель и CEO TUODONTOLOGA.COM с 2009 года
							li Директор платы франшиз Венесуэлы с 2015 года
							li Директор платы франшиз Боготы с 2015 года
							li Криптовалютный трейдер и основатель SYNERGYCRIPTOADVISER с 2016 года
							li NEM Fundation лидер в Латинской Америке
					+e.BUTTON(type="button").more.button--blue-text Подробнее
				+e.photo
					img(src="/img/speakers/6.png")
	+e.bg
		img(src="/img/back.svg")