+b#speakers.speakers
	+e.container.container
		+e.H2.title.title--white Disertantes:
		+e.body
			+e.item.speaker__
				+e.body
					+e.wrapper
						+e.name
							h3 Vladimir Popov
							p Irkutsk, Rusia
						+e.socials.socials__.--speaker
							+e.A(href="https://www.facebook.com/menaskop" target="_blank").item--fb
					+e.theme Tema de presentación:<br>
						|  «Interacción de los gobiernos y criptocomunidades en diferentes jurisdicciones»
					+e.text.text--speaker
						p Asesor legal en derecho informático, miembro de consejo de expertos de criptomonedas en Duma Estatal de Rusia y Asociación Rusa de criptomonedas y blockchain
					+e.hide.text--speaker
						ul
							li Asesor legal en derecho informático desde 2005.
							li Fundador de itSynergis.ru — sistema global de reputación a base de blockchain
							li Autor de primer libro de ICO en Rusia
							li Criptoanarquista, criptoentusiasta, minero desde 2011 en Irkutsk, capital rusa de minería
							li Asesor de mas de 40 proyectos de ICO en asuntos legales (Kickico, Descrow etc.)
							li Profesor de blockchain
							li Co-organizador de #CriptoIrkutsk
							li Co-productor de la película «Trust Desruption: Bitcoin y Blockchain»
					+e.BUTTON(type="button").more.button--blue-text Leer más
				+e.photo
					img(src="/img/speakers/1.png")
			+e.item.speaker__
				+e.body
					+e.A(href="https://www.kickico.com/" target="_blank").logo
					+e.wrapper
						+e.name
							h3 Alexander Petrov
							p Moscú, Rusia
						+e.socials.socials__.--speaker
							+e.A(href="https://www.facebook.com/webfinance" target="_blank").item--fb
					+e.theme Tema de presentación:<br>
						|  «Como criptoeconomía va a ayudar a superar la crisis mundial financiero»
					+e.text.text--speaker
						p Visionario de blockchain y criptomonedas, cofundador y director financiero de KickICO.com, la plataforma de crowdfunding en blockchain
					+e.hide.text--speaker
						ul
							li Visionario н evangelista blockchain desde 2013
							li Advisor y consultor de más de 50 ICO-proyectos
							li Emprendedor mayorista, inversor privado con experiencia en el negocio en internet y venta directa desde 1995.
							li En 2003, creó una red comercial en San Petersburgo, que se vendió en 2011 por 11 millones de dólares.
							li En 2015,  Alexander comenzó a invertir en KICKICO y desde entonces ha estado trabajando estrechamente con el equipo, cuidando su presentación y sus modelos financieros.
					+e.BUTTON(type="button").more.button--blue-text Leer más
				+e.photo
					img(src="/img/speakers/2.png")
			+e.item.speaker__
				+e.body
					+e.wrapper
						+e.name
							h3 Sergey Sevantsyan
							p Erevan, Armenia
						+e.socials.socials__.--speaker
							+e.A(href="https://www.facebook.com/Sergey.Sevantsyan" target="_blank").item--fb
					+e.theme Tema de presentación:<br>
						|  «Futuro de la blockchain: ecosistemas descentralizadas»
					+e.text.text--speaker
						p Cofundador IBW (Independent Blockchain World), учредитель MBA (Masters of Blockchain Administration)
					+e.hide.text--speaker
						ul
							li Actual ICO Project Manager en Silicon Valley
							li Especialista principal del scoring de los proyectos ICO
							li Analysta y consultor de los criptofondos, evangelista blockchain
							li socio de Ethereum Moscow
							li En 2017 participó en 80 eventos blockchain
							li Ideólogo y futurologo de nueva paradigma de negocio
					+e.BUTTON(type="button").more.button--blue-text Leer más
				+e.photo
					img(src="/img/speakers/3.png")
			+e.item.speaker__
				+e.body
					+e.wrapper
						+e.name
							h3 Pedro Gutierrez
							p Bogotá, Colombia
						+e.socials.socials__.--speaker
							+e.A(href="#" target="_blank").item--fb
					+e.theme Tema de presentación:<br>
						|  «Criptotrading en América Latina: oportunidades y desafíos»
					+e.text.text--speaker
						p Emprendedor y gerente de los proyectos en línea, trader de criptomoactivos
					+e.hide.text--speaker
						ul
							li Gerente de deremate.com desde 2001
							li Gerente general AUNCLIC Y ANAIS_DIGITAL desde 2003
							li Fundador y CEO de tuodontologia.com desde 2009
							li Director principal de la Cámara de Franquicias de Venezuela desde 2015
							li Director de la Cámara de Franquicias de Colombia desde 2015, electo por votación periodo 2015-2017
							li Fundador de Synergyscriptoadviser — 2016
							li NEM Foundation Lider en Latin America
					+e.BUTTON(type="button").more.button--blue-text Leer más
				+e.photo
					img(src="/img/speakers/6.png")
			+e.item.speaker__
				+e.body
					+e.wrapper
						+e.name
							h3 Anna Kozlovskaya
							p San Petersburgo, Rusia
						+e.socials.socials__.--speaker
							+e.A(href="https://www.facebook.com/a.kozlovskaya" target="_blank").item--fb
					+e.theme Taller de como actuar en exchanges descentralizados
					+e.text.text--speaker
						p Deex.exchange advisor
					+e.hide.text--speaker
						ul
							li Chairman del club de Scolkovo business-school desde 2015
							li CEO de la agencia digital Visitweb desde 2009 
							li Especialista en internet-marketing y media-buying
							li Organizadora de conferencias en tema digital desde 2015
							li Criptoinversora desde 2015
							li Fundadora del club de las mujeres de negocios Bewoman
					+e.BUTTON(type="button").more.button--blue-text Leer más
				+e.photo
					img(src="/img/speakers/4.png")
			+e.item.speaker__
				+e.body
					+e.A(href="https://www.kickico.com/" target="_blank").logo
					+e.wrapper
						+e.name
							h3 Eugene Vorontsova
							p Kaliningrad, Rusia
						+e.socials.socials__.--speaker
							+e.A(href="https://www.facebook.com/evgeniya.vorontsova.1" target="_blank").item--fb
					+e.theme Tema de presentación:<br>
						|  «Como promocionar las ICOs en mercados internacionales»
					+e.text.text--speaker
						p Editora y especialista de marketing de contenido en KICKICO.com
					+e.hide.text--speaker
						ul
							li Redactora en medios financieros desde 2010
							li Organizadora de las campañas de marketing para ICO
							li Autora de varios artículos educativos sobre ICO
							li Especialista en detección de fraude
							li Autora del diccionario de los criptoterminos
					+e.BUTTON(type="button").more.button--blue-text Leer más
				+e.photo
					img(src="/img/speakers/5.png")
	+e.bg
		img(src="/img/back.svg")