+b.speakers
	+e.container.container
		+e.H2.title.title--white Спикеры конгресса
		+e.body
			+e.item--photo-left.speaker__
				+e.photo
					img(src="/img/speakers/1.png")
				+e.body
					+e.logo
						img(src="/img/speakers/logo.png")
					+e.wrapper
						+e.name
							h3 Владимир Попов
							p Иркутск, Россия
						+e.socials.socials__.--speaker
							+e.A(href="#").item--fb
							+e.A(href="#").item--in
					+e.theme Тема доклада:<br>
						|  «Криптоанархизм»
					+e.text.text--speaker
						p Юрист itSynergis.ru
						p Автор первой книги об ICO
						p Анархист:
						ul
							li майнинг с 2011 года
							li статьи с 2012 года
							li due diligence с 2015 года
							li ICO с 2016 года
							li блокчейн-курс с 2017 года
					+e.BUTTON(type="button").more.button--blue-text Подробнее