+b.support
	+e.container.container
		+e.H2.title.title Organizado por
		+e.left
			+e.text.text--support
				a(href="https://cordobabitcoin.com/" target="_blank") Cordoba Bitcoin
				p La primer comunidad independiente, libre y abierta de Bitcoin en Córdoba y otras criptomonedas o aplicaciones que usen la tecnología blockchain. La componen miembros independientes, libres y descentralizados. 
			+e.benefits.benefits__
				+e.title En 2017:
				+e.body
					+e.item--plus
						span 800
						p Miembros de comunidad unidos
					+e.item
						span 16
						p Charlas de criptomonedas
					+e.item
						span 8
						p Talleres de mineria, trading, ICO, blockchain, fork
					+e.item
						span 10
						p publicaciones en prensa
		+e.right.text--support
			h3 Universidad Blas Pascal
			p Una Universidad apuntada a educación tecnológica,  emprendimientos de base tecnológica y proyectos con eje en sostenibilidad.
			span Para el año 2018 comenzaron todo el pack de cursos Transformación Digital «learning by doing»
			ul
				li Blockchain
				li Pilotage de drones
				li Realidad Virtual
				li Machine Learning Internet de las cosas
				li Experiencia de Usuario
				li Análisis Big Data
			h3 Universidad Nacional de Córdoba
			p Organizadores de charlas TedX Córdoba


