+b.support
	+e.container.container
		+e.H2.title.title Организаторы и поддержка
		+e.left
			+e.text.text--support
				a(href="#") Cordoba Bitcoin
				p Независимое децентрализованное криптокомьюнити г. Кордова
			+e.benefits.benefits__
				+e.title Результаты за 2017 год:
				+e.body
					+e.item--plus
						span 800
						p человек в комьюнити
					+e.item
						span 16
						p митапов о криптовалютах
					+e.item
						span 8
						p воркшопов по майнингу, трейдингу, ICO, блокчейну и форкам
					+e.item
						span 10
						p публикаций в прессе
		+e.right.text--support
			h3 Университет Blas Pascal
			p Технологический университет
			span Серия курсов в 2018 году:
			ul
				li Blockchain
				li Пилотаж квадрокоптеров
				li Виртуальная реальность
				li Машинное обучение
				li Интернет вещей
				li Большие данные
			h3 Национальный Университет Кордовы
			p Организаторы TedX Кордова


