+b#tickets.tickets
	+e.container.container
		+e.title.title ENTRADAS
		+e.body
			+e.item.ticket__
				+e.wrapper
					+e.body
						+e.name Estudiante
						+e.price 300
						+e.bonus--lined Bono en criptomonedas
						+e.UL.plan
							+e.LI.point Entrada simple
					+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange Compar
			+e.item.ticket__
				+e.wrapper
					+e.body
						+e.name General
						+e.price 500
						+e.bonus Bono en criptomonedas<br> — 200 ETH
						+e.UL.plan
							+e.LI.point Entrada general
							+e.LI.point Grabación del evento
					+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange Compar
			+e.item.ticket__
				+e.wrapper
					+e.body
						+e.name Business
						+e.price 1500
						+e.bonus Bono en criptomonedas<br> — 500 ETH
						+e.UL.plan
							+e.LI.point Entrada business
							+e.LI.point Grabación del evento
							+e.LI.point Serie de preguntas y respuestas
					+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange Compar
			+e.item.ticket__
				+e.wrapper
					+e.body
						+e.name VIP
						+e.price 5000
						+e.bonus Bono en criptomonedas<br> — 1500 ETH
						+e.UL.plan
							+e.LI.point Entrada business
							+e.LI.point Grabación del evento
							+e.LI.point Serie de preguntas y respuestas
							+e.LI.point Cena con disertantes, consultas personalizadas
					+e.A(href="https://www.eventbrite.com.ar/e/congreso-blockchain-cordoba-2018-tickets-42975704489" target="_blank").button.button--orange Compar