+b.tickets
	+e.container.container
		+e.title.title Стоимость билетов
		+e.body
			+e.item.ticket__
				+e.wrapper
					+e.body
						+e.name Студент
						+e.price 300
						+e.bonus--lined Бонус в крипте
						+e.UL.plan
							+e.LI.point Вход
					+e.A(href="#").button.button--orange Купить билет
			+e.item.ticket__
				+e.wrapper
					+e.body
						+e.name Общий
						+e.price 500
						+e.bonus Бонус в крипте<br> — 200 ETH
						+e.UL.plan
							+e.LI.point Вход
							+e.LI.point Запись
					+e.A(href="#").button.button--orange Купить билет
			+e.item.ticket__
				+e.wrapper
					+e.body
						+e.name Студент
						+e.price 1500
						+e.bonus Бонус в крипте<br> — 500 ETH
						+e.UL.plan
							+e.LI.point Вход
							+e.LI.point Запись
							+e.LI.point Места около сцены
					+e.A(href="#").button.button--orange Купить билет
			+e.item.ticket__
				+e.wrapper
					+e.body
						+e.name Студент
						+e.price 5000
						+e.bonus Бонус в крипте<br> — 1500 ETH
						+e.UL.plan
							+e.LI.point Вход
							+e.LI.point Запись
							+e.LI.point Места около сцены
							+e.LI.point Закрытый ужин со спикерами
					+e.A(href="#").button.button--orange Купить билет