extends blocks/layout.pug

block head
block header
	include blocks/header.pug
block content
	include blocks/main.pug
	include blocks/shedule.pug
	include blocks/support.pug
	include blocks/slogan.pug
	include blocks/org.pug
	include blocks/partners.pug
	include blocks/speaker.pug
	include blocks/tickets.pug
	include blocks/media.pug
block footer-scripts